<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head data-th-replace="~{/layouts/header :: head}"></head>
	<body>
			<footer th:fragmento="footer" class="text-center container-fluid bg-white m-2 mx-2 rounded">
	   			<a href="">
	   				<img class="icono-footer m-1" alt="icono de gmail" src="https://cdn.icon-icons.com/icons2/1645/PNG/512/g_109859.png">
	   			</a>
	   			<a href="https://www.facebook.com/fiunju/">
	   				<img class="icono-footer m-1" alt="icono de facebook" src="https://cdn.icon-icons.com/icons2/1645/PNG/96/facebook_109862.png">
	   			</a>
	   			<a href="https://www.instagram.com/fiunju/">
	   				<img class="icono-footer m-1" alt="icono de instagram" src="https://cdn.icon-icons.com/icons2/1645/PNG/96/instagam_109863.png">
	   			</a>
	   			<p> Propiedad de Matias Churquina-CopyRight 2024</p>
	   		</footer>
	</body>
</html>